input{
  border:none;
  background-color: #f1f1f1;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.fa-search {
  color: gray;
}

.input-group{
  padding: 10px;
  background-color: #f1f1f1;
}
.oi-menu{
  padding-top: 14px;
}
